### โจทย์ข้อที่ 1
**!!เหตุการณ์ต่อไปนี้เป็รนเรื่องสมมติ!!**  
ในโรงพยาบาลแห่งหนึ่งมีการบันทึกข้อมูลสุขภาพของผู้ป่วยในแต่ละเดือน ข้อมูลนี้รวมถึงค่าต่าง ๆ เช่น น้ำหนัก ส่วนสูง ความดันโลหิต คอเลสเตอรอล และระดับน้ำตาลในเลือด นักสืบได้รับข้อมูลมาว่าผู้ต้องสงสัยคดีทำให้กระรอกตกใจจนพลัดตกจากต้นไม้ ได้มาตรวจสุขภาพที่โรงพยาบาลแห่งนี้ โดยจากความช่วยเหลือของตำรวจทำให้ทราบว่าผู้ต้องสงสัยมีลักษณะดังนี้:
1. มีส่วนสูงมากกว่า 180 cm.
2. มีค่าคอเลสเตอรอลสูง (>200)
3. มีความเสี่ยงในการเป็นโรคเบาหวาน (ระดับน้ำตาล > 126 mg/dL)

คุณได้รับข้อมูลจากโรงพยาบาลดังนี้:

+ ข้อมูลสุขภาพในรูปแบบของอาเรย์ 3 มิติที่เรียกว่า health_data โดยมิติแรกแทนผู้ป่วย และมิติที่สองแทนข้อมูลสุขภาพ (เช่น ชื่อ, น้ำหนัก, ส่วนสูง, ความดันโลหิต, คอเลสเตอรอล, ระดับน้ำตาลในเลือด)
+ ชื่อของข้อมูลสุขภาพเป็นอาเรย์ 1 มิติที่เรียกว่า col
+ ข้อมูลชื่อของผู้ที่มาตรวจสุขภาพที่เรียกว่า names

จงหาตัวผู้ต้องสงสัยจากข้อมูลที่ได้รับโดยใช้ NumPy

In [8]:
#Data

import numpy as np

col = np.array(['Weight (kg)', 'Height (cm)', 'Systolic BP (mmHg)', 'Diastolic BP (mmHg)', 
                           'Cholesterol (mg/dL)', 'Blood Sugar (mg/dL)'])
names = np.array(['Barbara Smith', 'Regina Price', 'Katherine Mckinney', 'Andrea Myers', 'Christopher Mejia', 
                  'Tracy Wyatt', 'Paula Montgomery', 'Stephanie Blair', 'Jessica West', 'Darius Mclaughlin'])
health_data = np.array([[78.95106854489279, 164.28755344748134,
        134.37210847760352, 84.30020482280614, 166.5766693301355,
        77.74565541366933],
       [56.28286149726324, 173.87348888602455,
        123.67016662007772, 67.52599975127907, 171.02360174983443,
        72.64300210804231],
       [59.06070663873062, 157.4905375413748,
        134.6391477127822, 89.75954764283404, 184.36469019843707,
        91.93379720182456],
       [96.76844457328778, 157.25709732392187,
        110.9281946243964, 65.38432009204975, 187.6976585589261,
        73.78458924755833],
       [86.41684488925083, 182.141745843499,
        92.83614994969346, 64.17032338919994, 222.85476815815304,
        134.57507983340636],
       [84.73881986599898, 184.64139307194935,
        126.72997825018942, 86.83791301531669, 240.6533059997496,
        122.62215009748088],
       [86.74231082921148, 174.2313067970698,
        133.45300755990263, 72.4048611555113, 159.0671326593094,
        103.89185238685562],
       [71.4241652691023, 154.1240689464118,
        96.4964382958529, 88.77455100735051, 235.7133370809263,
        71.11033577641615],
       [54.82865443705211, 167.6834515896866,
        114.72894481922124, 80.58113845471131, 198.89402203125212,
        133.72264898617732],
       [96.68170181861292, 186.4276684736548,
        116.22460426091052, 82.47828497865363, 229.18031734603449,
        92.46709886946856]])

In [11]:
index = np.where((health_data[:,1]>100) & (health_data[:,4]>200) & (health_data[:,5]>126))
name = names[index]
print(name)

['Christopher Mejia']

### โจทย์ข้อที่ 2
เหมือนโจทย์ข้อ 1 แต่ให้ใช้ Pandas

In [12]:
import pandas as pd
import numpy as np

col = np.array(['Weight (kg)', 'Height (cm)', 'Systolic BP (mmHg)', 'Diastolic BP (mmHg)', 
                           'Cholesterol (mg/dL)', 'Blood Sugar (mg/dL)'])
names = np.array(['Barbara Smith', 'Regina Price', 'Katherine Mckinney', 'Andrea Myers', 'Christopher Mejia', 
                  'Tracy Wyatt', 'Paula Montgomery', 'Stephanie Blair', 'Jessica West', 'Darius Mclaughlin'])
health_data = np.array([[78.95106854489279, 164.28755344748134,
        134.37210847760352, 84.30020482280614, 166.5766693301355,
        77.74565541366933],
       [56.28286149726324, 173.87348888602455,
        123.67016662007772, 67.52599975127907, 171.02360174983443,
        72.64300210804231],
       [59.06070663873062, 157.4905375413748,
        134.6391477127822, 89.75954764283404, 184.36469019843707,
        91.93379720182456],
       [96.76844457328778, 157.25709732392187,
        110.9281946243964, 65.38432009204975, 187.6976585589261,
        73.78458924755833],
       [86.41684488925083, 182.141745843499,
        92.83614994969346, 64.17032338919994, 222.85476815815304,
        134.57507983340636],
       [84.73881986599898, 184.64139307194935,
        126.72997825018942, 86.83791301531669, 240.6533059997496,
        122.62215009748088],
       [86.74231082921148, 174.2313067970698,
        133.45300755990263, 72.4048611555113, 159.0671326593094,
        103.89185238685562],
       [71.4241652691023, 154.1240689464118,
        96.4964382958529, 88.77455100735051, 235.7133370809263,
        71.11033577641615],
       [54.82865443705211, 167.6834515896866,
        114.72894481922124, 80.58113845471131, 198.89402203125212,
        133.72264898617732],
       [96.68170181861292, 186.4276684736548,
        116.22460426091052, 82.47828497865363, 229.18031734603449,
        92.46709886946856]])

In [16]:
df = pd.DataFrame(health_data, columns= col, index= names)
df

,Weight (kg),Height (cm),Systolic BP (mmHg),Diastolic BP (mmHg),Cholesterol (mg/dL),Blood Sugar (mg/dL)
Barbara Smith,78.951069,164.287553,134.372108,84.300205,166.576669,77.745655
Regina Price,56.282861,173.873489,123.670167,67.526000,171.023602,72.643002
Katherine Mckinney,59.060707,157.490538,134.639148,89.759548,184.364690,91.933797
Andrea Myers,96.768445,157.257097,110.928195,65.384320,187.697659,73.784589
Christopher Mejia,86.416845,182.141746,92.836150,64.170323,222.854768,134.575080
Tracy Wyatt,84.738820,184.641393,126.729978,86.837913,240.653306,122.622150
Paula Montgomery,86.742311,174.231307,133.453008,72.404861,159.067133,103.891852
Stephanie Blair,71.424165,154.124069,96.496438,88.774551,235.713337,71.110336
Jessica West,54.828654,167.683452,114.728945,80.581138,198.894022,133.722649
Darius Mclaughlin,96.681702,186.427668,116.224604,82.478285,229.180317,92.467099

In [22]:
name = df[(df['Height (cm)']>180) & (df['Cholesterol (mg/dL)']>200) & (df['Blood Sugar (mg/dL)']>126)].index[0]
print(name)

Christopher Mejia

## โจทย์ข้อที่ 3
<b>!!เหตุการณ์ต่อไปนี้เป็นเหตุการณ์สมมติ!!</b>  
ในวันหนึ่งได้เกิดสถานการณ์การแพร่ระบาดของเชื้อโรคชนิดหนึ่งขึ้นในประเทศไทย คุณเป็นนักระบาดวิทยาซึ่งต้องสืบเกี่ยวกับแหล่งที่มาของเชื้อโรคชนิดนี้ โดยคุณทราบมาว่าเชื้อโรคชนิดนี้จะสามารถตรวจพบได้หลังจากได้รับเชื้อเป็นเวลาสามวัน

คุณได้รับข้อมูลการตรวจเชื้อจากกลุ่มตัวอย่างจำนวน 100 คน จงหาแหล่งที่ของการระบาดครั้งนี้จากข้อมูลดังกล่าวโดยการ Visualization

ชุดข้อมูลประกอบด้วย  

+ ประวัติการเดินทางย้อนหลัง 7 วัน (วันที่สุ่มตรวจเป็นวันที่ 7)
+ ข้อมูลว่าเจ้าของข้อมูลติดเชื้อหรือไม่ (1 = ติดเชื้อ)

In [1]:
import pandas as pd
df = pd.read_csv('Disease_Practice.csv')
df.head()

,Day 1,Day 2,Day 3,Day 4,Day 5,Day 6,Day 7,Disease
0,Satun,Phitsanulok,Loei,Mukdahan,Phetchaburi,Trang,Phitsanulok,0.0
1,Chiang Rai,Phetchaburi,Mukdahan,Phitsanulok,Nakhon Si Thammarat,Mukdahan,Mukdahan,0.0
2,Pathum Thani,Lopburi,Chiang Rai,Mukdahan,Nakhon Si Thammarat,Chonburi,Buriram,1.0
3,Chonburi,Phitsanulok,Nakhon Si Thammarat,Trang,Buriram,Trang,Phitsanulok,0.0
4,Mukdahan,Nakhon Si Thammarat,Nakhon Si Thammarat,Trang,Lopburi,Chonburi,Mukdahan,0.0